<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Book Your Travel - Online Booking HTML Template" name="keywords">
    <meta content="Book Your Travel - Online Booking HTML Template" name="description">
    <meta content="themeenergy.com" name="author">

    <title>Book Your Travel - Loading</title>

    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/theme-turqoise.css" id="template-color" rel="stylesheet"/>
    <link href="fonts/fonts.googleapis.com/css65a5.css?family=Open+Sans:400,600,700,800|Roboto+Slab:400,700&amp;subset=latin,latin-ext,greek-ext,greek,cyrillic,vietnamese,cyrillic-ext"
          rel="stylesheet">
    <link href="fonts/fonts.googleapis.com/icone91f.css?family=Material+Icons" rel="stylesheet">
    <script src="fonts/use.fontawesome.com/e808bf9397.js"></script>
    <link href="/assets/images/favicon.ico" rel="shortcut icon"/>
    <link href="css/styler.css" rel="stylesheet" type="text/css"/>


</head>
<body>
<!--main-->
<main class="main">
    <div class="wrap">
        <!--main content-->
        <div class="content">
            <!--- loading animation -->
            <div class="loading">
                <div class="ball"></div>
                <div class="ball1"></div>
                <h2>Please wait while we search for the best deals...</h2>
            </div>
            <!--- //loading animation -->
        </div>
        <!--//main content-->
    </div>
</main>
<!--//main-->

<script src="js/ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


<script src="js/styler.js"></script>
</body>


</html>