<div id="wizard_general" class="tab-pane" role="tabpanel" style='min-height: 300px'>
    <div class="row">
        <div class="col-lg-6 mb-2">
            <div class="form-group">
                <label for='general-place' class="text-label">What is the location that you are interested in
                    jordan?</label>
                <select name='generalPlace' id='general-place' required>
                    <option value='' selected hidden disabled>please choose location</option>
                    <option value='Ajloun'>Ajloun</option>
                    <option value='Sowayma'>Sowayma</option>
                    <option value='Al Quwayrah'>Al Quwayrah</option>
                    <option value='Al Kafrayn'>Al Kafrayn</option>
                    <option value='Wadi Musa'>Wadi Musa</option>
                    <option value='Shūnat Nimrīn'>Shūnat Nimrīn</option>
                    <option value='Kufayrāt Abū Khīnan'>Kufayrāt Abū Khīnan</option>
                    <option value='Ash Shūnah ash Shamālīyah'>Ash Shūnah ash Shamālīyah</option>
                    <option value='Amman'>Amman</option>
                    <option value='Umm Qays'>Umm Qays</option>
                    <option value='Ash Shumaysānī'>Ash Shumaysānī</option>
                    <option value='Abū al Lasan'>Abū al Lasan</option>
                    <option value='Abdoun, Amman'>Abdoun, Amman</option>
                    <option value='Az Zarqa'>Az Zarqa</option>
                    <option value='Jerash'>Jerash</option>
                    <option value='Kerak'>Kerak</option>
                    <option value='Bayyūḑah'>Bayyūḑah</option>
                    <option value='Aţ Ţayyibah'>Aţ Ţayyibah</option>
                    <option value='Al Azraq ash Shamālī'>Al Azraq ash Shamālī</option>
                    <option value='Aqaba'>Aqaba</option>
                    <option value='At-Tafilah'>At-Tafilah</option>
                    <option value='Al Burj'>Al Burj</option>
                    <option value='Ma‘ān'>Ma‘ān</option>
                    <option value='Al Ḩayy'>Al Ḩayy</option>
                    <option value='Umm al Kundum'>Umm al Kundum</option>
                    <option value='Al Qasţal'>Al Qasţal</option>
                    <option value='Madaba'>Madaba</option>
                    <option value='Al Maşţabah'>Al Maşţabah</option>
                    <option value='Ad Dimnah'>Ad Dimnah</option>
                    <option value='Māḩiş'>Māḩiş</option>
                    <option value='Irbid'>Irbid</option>
                    <option value='Al Rama'>Al Rama</option>
                    <option value='Umm Uthainah'>Umm Uthainah</option>
                    <option value='Al Khuraybah'>Al Khuraybah</option>
                    <option value='Wadi Rum'>Wadi Rum</option>
                    <option value='Dana'>Dana</option>
                    <option value='‘Ayn Amūn'>‘Ayn Amūn</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 mb-2">
            <div class="form-group">
                <label for='general-number-of-days' class="text-label">What is the total number of days that you are
                    planing to stay?</label>
                <input type='number' id='general-number-of-days'
                       name='generalNumberOfDays'
                       min='1'
                       placeholder='One day or more'
                       required
                >
            </div>
        </div>

        <div class="col-lg-6 mb-2">
            <div class="form-group">
                <label for='total-price' class="text-label">What is your budget?</label>
                <input type="number" class="form-control" id='total-price' name='totalPrice'
                       placeholder="Enter the total budget in US dollar" min='100' required>
            </div>
        </div>
    </div>
</div>