<div id="wizard_hotels" class="tab-pane" role="tabpanel" style='min-height: 300px'>
    <em>*Please notice that the best options will be based on your total budget</em>
    <div class="row">
        <div class="col-lg-6 mb-2">
            <div class="form-group">
                <label for='hotels-rating' class="text-label">What is your opinion about your hotel? </label>
                <select name='hotelsRating' id='hotels-rating' required>
                    <option value='' selected disabled hidden>choose the option that you think sits you</option>
                    <option value='1'>I think any hotel is good</option>
                    <option value='2'>I don't like to pay too much for a hotel</option>
                    <option value='3'>I want the average hotel experience</option>
                    <option value='4'>I want more than the average hotel experience</option>
                    <option value='5'>I want the best hotel experience</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 mb-2">
            <div class="form-group">
                <label for='restaurant-rating' class="text-label">What is your opinion about restaurant that you would
                    love to eat in? </label>
                <select name='restaurantRating' id='restaurant-rating' required>
                    <option value='' selected disabled hidden>choose the option that you think sits you</option>
                    <option value='1'>I think any restaurant is good</option>
                    <option value='2'>I don't like to pay too much for the food</option>
                    <option value='3'>I want the average price restaurant</option>
                    <option value='4'>I want more than the average restaurant experience</option>
                    <option value='5'>I want the best restaurant experience</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 mb-2">
            <div class="form-group">
                <label for='activity-rating' class="text-label">What is your opinion about the activities you want to
                    participate on ? </label>
                <select name='activityRating' id='activity-rating' required>
                    <option value='' selected disabled hidden>choose the option that you think sits you</option>
                    <option value='1'>I think any activity is good</option>
                    <option value='2'>I don't like to pay too much for an activity</option>
                    <option value='3'>I want the average activities experience</option>
                    <option value='4'>I want more than the average activities experience</option>
                    <option value='5'>I want the best activities experience</option>
                </select>
            </div>
        </div>
    </div>
</div>