<div id="wizard_hotels" class="tab-pane" role="tabpanel" style='min-height: 300px'>
    <em>*Please notice that the best options will be based on your total budget</em>
    <div class="row">
        <div class="col-lg-6 mb-2">
            <div class="form-group">
                <label for='hotels-rating' class="text-label">What is your opinion about your hotel? </label>
                <select name='hotelsRating' id='hotels-rating' required>
                    <option value='' selected disabled hidden>choose the option that you think sits you</option>
                    <option value='1'>⭐</option>
                    <option value='2'>⭐⭐</option>
                    <option value='3'>⭐⭐⭐</option>
                    <option value='4'>⭐⭐⭐⭐</option>
                    <option value='5'>⭐⭐⭐⭐⭐</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 mb-2">
            <div class="form-group">
                <label for='restaurant-rating' class="text-label">What is your opinion about restaurant that you would
                    love to eat in? </label>
                <select name='restaurantRating' id='restaurant-rating' required>
                    <option value='' selected disabled hidden>choose the option that you think sits you</option>
                    <option value='1'>⭐</option>
                    <option value='2'>⭐⭐</option>
                    <option value='3'>⭐⭐⭐</option>
                    <option value='4'>⭐⭐⭐⭐</option>
                    <option value='5'>⭐⭐⭐⭐⭐</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 mb-2">
            <div class="form-group">
                <label for='activity-rating' class="text-label">What is your opinion about the activities you want to
                    participate on ? </label>
                <select name='activityRating' id='activity-rating' required>
                    <option value='' selected disabled hidden>choose the option that you think sits you</option>
                    <option value='1'>⭐</option>
                    <option value='2'>⭐⭐</option>
                    <option value='3'>⭐⭐⭐</option>
                    <option value='4'>⭐⭐⭐⭐</option>
                    <option value='5'>⭐⭐⭐⭐⭐</option>
                </select>
            </div>
        </div>
    </div>
</div>