<div id="wizard_restaurants" class="tab-pane" role="tabpanel" style='min-height: 200px'>
    <div class="row">
        <div>
            <label for='restaurant-categories'> What is the food type that you are interested in ? </label>
            <select name="restaurantCategories[]"
                    id='restaurant-categories'
                    multiple="multiple">
                <option value='American'>American</option>
                <option value='Arabic'>Arabic</option>
                <option value='Asian'>Asian</option>
                <option value='Bakery and Cakes'>Bakery and Cakes</option>
                <option value='Beverages'>Beverages</option>
                <option value='Brazilian'>Brazilian</option>
                <option value='Bread & Bakery'>Bread & Bakery</option>
                <option value='Breakfast'>Breakfast</option>
                <option value='Burgers'>Burgers</option>
                <option value='Butchery'>Butchery</option>
                <option value='Cakes and Desserts'>Cakes and Desserts</option>
                <option value='Calzone'>Calzone</option>
                <option value='Candy'>Candy</option>
                <option value='Charity'>Charity</option>
                <option value='Chinese'>Chinese</option>
                <option value='Coffee & Tea'>Coffee & Tea</option>
                <option value='Convenience Store'>Convenience Store</option>
                <option value='Crepes and Waffles'>Crepes and Waffles</option>
                <option value='Desserts'>Desserts</option>
                <option value='Donuts'>Donuts</option>
                <option value='Egyptian'>Egyptian</option>
                <option value='Falafel'>Falafel</option>
                <option value='Fast Food'>Fast Food</option>
                <option value='Flowers'>Flowers</option>
                <option value='French'>French</option>
                <option value='Fresh Meat & Fish'>Fresh Meat & Fish</option>
                <option value='Fried Chicken'>Fried Chicken</option>
                <option value='Frozen Yogurt'>Frozen Yogurt</option>
                <option value='Fruit Salads'>Fruit Salads</option>
                <option value='Fruits & Vegetables'>Fruits & Vegetables</option>
                <option value='Fruits and Vegetables'>Fruits and Vegetables</option>
                <option value='Greek'>Greek</option>
                <option value='Grills'>Grills</option>
                <option value='Grocery'>Grocery</option>
                <option value='Grounded Coffee Beans'>Grounded Coffee Beans</option>
                <option value='Healthy'>Healthy</option>
                <option value='Healthy Water'>Healthy Water</option>
                <option value='Hot Dogs'>Hot Dogs</option>
                <option value='Hypermarket'>Hypermarket</option>
                <option value='Ice Cream'>Ice Cream</option>
                <option value='Indian'>Indian</option>
                <option value='International'>International</option>
                <option value='Iraqi'>Iraqi</option>
                <option value='Italian'>Italian</option>
                <option value='Japanese'>Japanese</option>
                <option value='Jordanian'>Jordanian</option>
                <option value='Juices'>Juices</option>
                <option value='Kuwaiti'>Kuwaiti</option>
                <option value='Lebanese'>Lebanese</option>
                <option value='Manaqeesh'>Manaqeesh</option>
                <option value='Mandi'>Mandi</option>
                <option value='Mexican'>Mexican</option>
                <option value='Nuts & Dried Fruit'>Nuts & Dried Fruit</option>
                <option value='Organic'>Organic</option>
                <option value='Pakistani'>Pakistani</option>
                <option value='Pasta'>Pasta</option>
                <option value='Pastries'>Pastries</option>
                <option value='Pastries & Sweets'>Pastries & Sweets</option>
                <option value='Pizza'>Pizza</option>
                <option value='Roastery'>Roastery</option>
                <option value='Saj'>Saj</option>
                <option value='Salads'>Salads</option>
                <option value='Sandwiches'>Sandwiches</option>
                <option value='Seafood'>Seafood</option>
                <option value='Shawarma & Doner'>Shawarma & Doner</option>
                <option value='Snacks'>Snacks</option>
                <option value='Speciality Store'>Speciality Store</option>
                <option value='Specialty Store'>Specialty Store</option>
                <option value='Steaks'>Steaks</option>
                <option value='Supermarket'>Supermarket</option>
                <option value='Sushi'>Sushi</option>
                <option value='Tawasi'>Tawasi</option>
                <option value='Thai'>Thai</option>
                <option value='Turkish'>Turkish</option>
                <option value='Vegetarian'>Vegetarian</option>
                <option value='Wings'>Wings</option>
                <option value='Yemeni'>Yemeni</option>
            </select>
        </div>

    </div>
</div>