
<h2>Destinations</h2>

<div class="destinations">
    <div class="row">
        <!--column-->
        <article class="one-fourth">
            <figure><a href="/plan" title=""><img src="/assets/images/uploads/paris.jpg" alt="" /></a></figure>
            <div class="details">
                <a href="/plan" title="View all" class="gradient-button">View all</a>
                <h4>Paris</h4>
                <span class="count">1529 Hotels</span>
                <div class="ribbon">
                    <div class="half hotel">
                        <a href="hotels.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 70</span>
                        </a>
                    </div>
                    <div class="half flight">
                        <a href="flights.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 150</span>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <!--//column-->

        <!--column-->
        <article class="one-fourth">
            <figure><a href="/plan" title=""><img src="/assets/images/uploads/amsterdam.jpg" alt="" /></a></figure>
            <div class="details">
                <a href="/plan" title="View all" class="gradient-button">View all</a>
                <h4>Amsterdam</h4>
                <span class="count">929 Hotels</span>
                <div class="ribbon">
                    <div class="half hotel">
                        <a href="hotels.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 70</span>
                        </a>
                    </div>
                    <div class="half flight">
                        <a href="flights.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 150</span>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <!--//column-->

        <!--column-->
        <article class="one-fourth">
            <figure><a href="/plan" title=""><img src="/assets/images/uploads/saint-petersburg.jpg" alt="" /></a>
            </figure>
            <div class="details">
                <a href="/plan" title="View all" class="gradient-button">View all</a>
                <h4>St Petersburg</h4>
                <span class="count">658 Hotels</span>
                <div class="ribbon">
                    <div class="half hotel">
                        <a href="hotels.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 70</span>
                        </a>
                    </div>
                    <div class="half flight">
                        <a href="flights.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 150</span>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <!--//column-->

        <!--column-->
        <article class="one-fourth">
            <figure><a href="/plan" title=""><img src="/assets/images/uploads/prague.jpg" alt="" /></a></figure>
            <div class="details">
                <a href="/plan" title="View all" class="gradient-button">View all</a>
                <h4>Prague</h4>
                <span class="count">829 Hotels</span>
                <div class="ribbon">
                    <div class="half hotel">
                        <a href="hotels.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 70</span>
                        </a>
                    </div>
                    <div class="half flight">
                        <a href="flights.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 150</span>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <!--//column-->
        <!--column-->
        <article class="one-fourth">
            <figure><a href="/plan" title=""><img src="/assets/images/uploads/prague.jpg" alt="" /></a></figure>
            <div class="details">
                <a href="/plan" title="View all" class="gradient-button">View all</a>
                <h4>Prague</h4>
                <span class="count">829 Hotels</span>
                <div class="ribbon">
                    <div class="half hotel">
                        <a href="hotels.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 70</span>
                        </a>
                    </div>
                    <div class="half flight">
                        <a href="flights.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 150</span>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <!--//column-->

        <!--column-->
        <article class="one-fourth">
            <figure><a href="/plan" title=""><img src="/assets/images/uploads/amsterdam.jpg" alt="" /></a></figure>
            <div class="details">
                <a href="/plan" title="View all" class="gradient-button">View all</a>
                <h4>Amsterdam</h4>
                <span class="count">929 Hotels</span>
                <div class="ribbon">
                    <div class="half hotel">
                        <a href="hotels.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 70</span>
                        </a>
                    </div>
                    <div class="half flight">
                        <a href="flights.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 150</span>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <!--//column-->

        <!--column-->
        <article class="one-fourth">
            <figure><a href="/plan" title=""><img src="/assets/images/uploads/saint-petersburg.jpg" alt="" /></a>
            </figure>
            <div class="details">
                <a href="/plan" title="View all" class="gradient-button">View all</a>
                <h4>St Petersburg</h4>
                <span class="count">658 Hotels</span>
                <div class="ribbon">
                    <div class="half hotel">
                        <a href="hotels.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 70</span>
                        </a>
                    </div>
                    <div class="half flight">
                        <a href="flights.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 150</span>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <!--//column-->
        <!--column-->
        <article class="one-fourth">
            <figure><a href="/plan" title=""><img src="/assets/images/uploads/saint-petersburg.jpg" alt="" /></a>
            </figure>
            <div class="details">
                <a href="/plan" title="View all" class="gradient-button">View all</a>
                <h4>St Petersburg</h4>
                <span class="count">658 Hotels</span>
                <div class="ribbon">
                    <div class="half hotel">
                        <a href="hotels.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 70</span>
                        </a>
                    </div>
                    <div class="half flight">
                        <a href="flights.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 150</span>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <!--//column-->

        <!--column-->
        <article class="one-fourth">
            <figure><a href="/plan" title=""><img src="/assets/images/uploads/prague.jpg" alt="" /></a></figure>
            <div class="details">
                <a href="/plan" title="View all" class="gradient-button">View all</a>
                <h4>Prague</h4>
                <span class="count">829 Hotels</span>
                <div class="ribbon">
                    <div class="half hotel">
                        <a href="hotels.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 70</span>
                        </a>
                    </div>
                    <div class="half flight">
                        <a href="flights.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 150</span>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <!--//column-->

        <!--column-->
        <article class="one-fourth">
            <figure><a href="/plan" title=""><img src="/assets/images/uploads/paris.jpg" alt="" /></a></figure>
            <div class="details">
                <a href="/plan" title="View all" class="gradient-button">View all</a>
                <h4>Paris</h4>
                <span class="count">1529 Hotels</span>
                <div class="ribbon">
                    <div class="half hotel">
                        <a href="hotels.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 70</span>
                        </a>
                    </div>
                    <div class="half flight">
                        <a href="flights.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 150</span>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <!--//column-->

        <!--column-->
        <article class="one-fourth">
            <figure><a href="/plan" title=""><img src="/assets/images/uploads/amsterdam.jpg" alt="" /></a></figure>
            <div class="details">
                <a href="/plan" title="View all" class="gradient-button">View all</a>
                <h4>Amsterdam</h4>
                <span class="count">929 Hotels</span>
                <div class="ribbon">
                    <div class="half hotel">
                        <a href="hotels.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 70</span>
                        </a>
                    </div>
                    <div class="half flight">
                        <a href="flights.html" title="View all">
                            <span class="small">from</span>
                            <span class="price">&#36; 150</span>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <!--//column-->
    </div>
</div>