<main class="main">
    <div class="wrap">
        <!--breadcrumbs-->

        <!--//breadcrumbs-->

        <div class="row">
            <!--three-fourth content-->
            <div class="three-fourth">

                <div class="row deals  results">
                    <nav class="breadcrumbs">
                        <!--crumbs-->
                        <ul>
                            <li><a title="Hotels">Hotels</a></li>
                        </ul>
                        <!--//crumbs-->
                    </nav>

                    <!--deal-->
                    <article class="one-third">
                        <figure><a href="tel:9627xxxxxx" title=""><img src="/assets/images/uploads/hotel1.jpg" alt=""/></a>
                        </figure>
                        <div class="details">
                            <h3>Best ipsum hotel
                                <span class="stars">
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
									</span>
                            </h3>
                            <span class="address">London  •  <a href="#">Show on map</a></span>

                            <span class="price">Price per night from  <em>$ 50</em> </span>
                            <div class="description">
                                <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’
                                    walk from London’s Zoological Gardens and a metro station. <a href="tel:9627xxxxxx">More
                                        info</a></p>
                            </div>
                            <a href="tel:9627xxxxxx" title="Call now" class="gradient-button">Call now</a>
                        </div>
                    </article>
                    <!--//deal-->

                    <!--deal-->
                    <article class="one-third">
                        <figure><a href="tel:9627xxxxxx" title=""><img src="/assets/images/uploads/hotel2.jpg" alt=""/></a>
                        </figure>
                        <div class="details">
                            <h3>Tropicana hotel
                                <span class="stars">
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
									</span>
                            </h3>
                            <span class="address">London  •  <a href="#">Show on map</a></span>

                            <span class="price">Price per night from  <em>$ 80</em> </span>
                            <div class="description">
                                <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’
                                    walk from London’s Zoological Gardens and a metro station. <a href="tel:9627xxxxxx">More
                                        info</a></p>
                            </div>
                            <a href="tel:9627xxxxxx" title="Call now" class="gradient-button">Call now</a>
                        </div>
                    </article>
                    <!--//deal-->

                    <!--deal-->
                    <article class="one-third">
                        <figure><a href="tel:9627xxxxxx" title=""><img src="/assets/images/uploads/hotel3.jpg" alt=""/></a>
                        </figure>
                        <div class="details">
                            <h3>Spa Resort hotel
                                <span class="stars">
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
									</span>
                            </h3>
                            <span class="address">London  •  <a href="#">Show on map</a></span>

                            <span class="price">Price per night from  <em>$ 70</em> </span>
                            <div class="description">
                                <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’
                                    walk from London’s Zoological Gardens and a metro station. <a href="tel:9627xxxxxx">More
                                        info</a></p>
                            </div>
                            <a href="tel:9627xxxxxx" title="Call now" class="gradient-button">Call now</a>
                        </div>
                    </article>
                    <!--//deal-->

                    <nav class="breadcrumbs">
                        <!--crumbs-->
                        <ul>
                            <li><a title="Landmarks">Landmarks</a></li>
                        </ul>
                        <!--//crumbs-->
                    </nav>
                    <!--deal-->
                    <article class="one-third">
                        <figure><a href="tel:9627xxxxxx" title=""><img src="/assets/images/uploads/hotel4.jpg" alt=""/></a>
                        </figure>
                        <div class="details">
                            <h3>Spa Resort hotel
                                <span class="stars">
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
									</span>
                            </h3>
                            <span class="address">London  •  <a href="#">Show on map</a></span>

                            <span class="price">Price per night from  <em>$ 70</em> </span>
                            <div class="description">
                                <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’
                                    walk from London’s Zoological Gardens and a metro station. <a href="tel:9627xxxxxx">More
                                        info</a></p>
                            </div>
                            <a href="tel:9627xxxxxx" title="Call now" class="gradient-button">Call now</a>
                        </div>
                    </article>
                    <!--//deal-->

                    <!--deal-->
                    <article class="one-third">
                        <figure><a href="tel:9627xxxxxx" title=""><img src="/assets/images/uploads/hotel5.jpg" alt=""/></a>
                        </figure>
                        <div class="details">
                            <h3>Best ipsum hotel
                                <span class="stars">
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
									</span>
                            </h3>
                            <span class="address">London  •  <a href="#">Show on map</a></span>

                            <span class="price">Price per night from  <em>$ 50</em> </span>
                            <div class="description">
                                <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’
                                    walk from London’s Zoological Gardens and a metro station. <a href="tel:9627xxxxxx">More
                                        info</a></p>
                            </div>
                            <a href="tel:9627xxxxxx" title="Call now" class="gradient-button">Call now</a>
                        </div>
                    </article>
                    <!--//deal-->

                    <!--deal-->
                    <article class="one-third">
                        <figure><a href="tel:9627xxxxxx" title=""><img src="/assets/images/uploads/hotel6.jpg" alt=""/></a>
                        </figure>
                        <div class="details">
                            <h3>Tropicana hotel
                                <span class="stars">
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
									</span>
                            </h3>
                            <span class="address">London  •  <a href="#">Show on map</a></span>

                            <span class="price">Price per night from  <em>$ 80</em> </span>
                            <div class="description">
                                <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’
                                    walk from London’s Zoological Gardens and a metro station. <a href="tel:9627xxxxxx">More
                                        info</a></p>
                            </div>
                            <a href="tel:9627xxxxxx" title="Call now" class="gradient-button">Call now</a>
                        </div>
                    </article>
                    <!--//deal-->

                    <!--deal-->
                    <article class="one-third">
                        <figure><a href="tel:9627xxxxxx" title=""><img src="/assets/images/uploads/hotel1.jpg" alt=""/></a>
                        </figure>
                        <div class="details">
                            <h3>Best ipsum hotel
                                <span class="stars">
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
									</span>
                            </h3>
                            <span class="address">London  •  <a href="#">Show on map</a></span>

                            <span class="price">Price per night from  <em>$ 50</em> </span>
                            <div class="description">
                                <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’
                                    walk from London’s Zoological Gardens and a metro station. <a href="tel:9627xxxxxx">More
                                        info</a></p>
                            </div>
                            <a href="tel:9627xxxxxx" title="Call now" class="gradient-button">Call now</a>
                        </div>
                    </article>
                    <!--//deal-->
                    <nav class="breadcrumbs">
                        <!--crumbs-->
                        <ul>
                            <li><a title="Restaurant & Cafes">Restaurant & Cafes</a></li>
                        </ul>
                        <!--//crumbs-->
                    </nav>
                    <!--deal-->
                    <article class="one-third">
                        <figure><a href="tel:9627xxxxxx" title=""><img src="/assets/images/uploads/hotel2.jpg" alt=""/></a>
                        </figure>
                        <div class="details">
                            <h3>Tropicana hotel
                                <span class="stars">
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
									</span>
                            </h3>
                            <span class="address">London  •  <a href="#">Show on map</a></span>

                            <span class="price">Price per night from  <em>$ 80</em> </span>
                            <div class="description">
                                <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’
                                    walk from London’s Zoological Gardens and a metro station. <a href="tel:9627xxxxxx">More
                                        info</a></p>
                            </div>
                            <a href="tel:9627xxxxxx" title="Call now" class="gradient-button">Call now</a>
                        </div>
                    </article>
                    <!--//deal-->

                    <!--deal-->
                    <article class="one-third">
                        <figure><a href="tel:9627xxxxxx" title=""><img src="/assets/images/uploads/hotel3.jpg" alt=""/></a>
                        </figure>
                        <div class="details">
                            <h3>Spa Resort hotel
                                <span class="stars">
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
									</span>
                            </h3>
                            <span class="address">London  •  <a href="#">Show on map</a></span>

                            <span class="price">Price per night from  <em>$ 70</em> </span>
                            <div class="description">
                                <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’
                                    walk from London’s Zoological Gardens and a metro station. <a href="tel:9627xxxxxx">More
                                        info</a></p>
                            </div>
                            <a href="tel:9627xxxxxx" title="Call now" class="gradient-button">Call now</a>
                        </div>
                    </article>
                    <!--//deal-->

                    <!--deal-->
                    <article class="one-third">
                        <figure><a href="tel:9627xxxxxx" title=""><img src="/assets/images/uploads/hotel4.jpg" alt=""/></a>
                        </figure>
                        <div class="details">
                            <h3>Spa Resort hotel
                                <span class="stars">
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
									</span>
                            </h3>
                            <span class="address">London  •  <a href="#">Show on map</a></span>

                            <span class="price">Price per night from  <em>$ 50</em> </span>
                            <div class="description">
                                <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’
                                    walk from London’s Zoological Gardens and a metro station. <a href="tel:9627xxxxxx">More
                                        info</a></p>
                            </div>
                            <a href="tel:9627xxxxxx" title="Call now" class="gradient-button">Call now</a>
                        </div>
                    </article>
                    <!--//deal-->

                    <!--deal-->
                    <article class="one-third">
                        <figure><a href="tel:9627xxxxxx" title=""><img src="/assets/images/uploads/hotel5.jpg" alt=""/></a>
                        </figure>
                        <div class="details">
                            <h3>Best ipsum hotel
                                <span class="stars">
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
									</span>
                            </h3>
                            <span class="address">London  •  <a href="#">Show on map</a></span>

                            <span class="price">Price per night from  <em>$ 50</em> </span>
                            <div class="description">
                                <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’
                                    walk from London’s Zoological Gardens and a metro station. <a href="tel:9627xxxxxx">More
                                        info</a></p>
                            </div>
                            <a href="tel:9627xxxxxx" title="Call now" class="gradient-button">Call now</a>
                        </div>
                    </article>
                    <!--//deal-->

                    <!--deal-->
                    <article class="one-third">
                        <figure><a href="tel:9627xxxxxx" title=""><img src="/assets/images/uploads/hotel6.jpg" alt=""/></a>
                        </figure>
                        <div class="details">
                            <h3>Tropicana hotel
                                <span class="stars">
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
										<i class="material-icons">&#xE838;</i>
									</span>
                            </h3>
                            <span class="address">London  •  <a href="#">Show on map</a></span>

                            <span class="price">Price per night from  <em>$ 80</em> </span>
                            <div class="description">
                                <p>Overlooking the Aqueduct and Nature Park, Lorem Ipsum Hotel is situated 5 minutes’
                                    walk from London’s Zoological Gardens and a metro station. <a href="tel:9627xxxxxx">More
                                        info</a></p>
                            </div>
                            <a href="tel:9627xxxxxx" title="Call now" class="gradient-button">Call now</a>
                        </div>
                    </article>
                    <!--//deal-->

                    <!--bottom navigation-->
                    <div class="bottom-nav">
                        <!--back up button-->
                        <a href="#" class="scroll-to-top" title="Back up">Back up</a>
                        <!--//back up button-->
                    </div>
                    <!--//bottom navigation-->
                </div>
            </div>
            <!--//three-fourth content-->
        </div>
        <!--//main content-->
    </div>
</main>