<div class="wrap">
    <div class="content-body">
        <form class="container-fluid" id="wizardFormPleaseWork" method='post' action='/api/search'>
            <!-- row -->
            <div class="row">
                <div class="col-xl-12 col-xxl-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Travel survey</h4>
                        </div>
                        <div class="card-body">
                            <div id="smartwizard" class="form-wizard order-create">
                                <ul class="nav nav-wizard">
                                    <li><a class="nav-link" href="#wizard_general">
                                            <span>General</span>
                                        </a></li>
                                    <li><a class="nav-link" href="#wizard_restaurants">
                                            <span>restaurants and cafes</span>
                                        </a></li>
                                    <li><a class="nav-link" href="#wizard_hotels">
                                            <span>Ratings</span>
                                        </a></li>
                                </ul>
                                <div class="tab-content">

                                    <!-- General tap -->
                                    <%- include('../search/General'); %>
                                    <!-- Hotels tap-->
                                    <%- include('../search/Hotels'); %>

                                    <!-- Restaurants tap -->
                                    <%- include('../search/Restaurants'); %>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--//search-->
</div>