<div class="slider">
    <ul id="hero-gallery" class="cS-hidden">
        <li data-thumb="/assets/images/uploads/slider7.jpg">
            <img src="/assets/images/uploads/slider7.jpg" alt=""/>
        </li>
        <li data-thumb="/assets/images/uploads/slider3.jpg">
            <img src="/assets/images/uploads/slider3.jpg" alt=""/>
        </li>
        <li data-thumb="/assets/images/uploads/slider2.jpg">
            <img src="/assets/images/uploads/slider2.jpg" alt=""/>
        </li>
    </ul>
</div>